#for certbot challenges (renewal process)
location ^~ /.well-known/acme-challenge/ {
    root /srv/certbot/www;
    default_type "text/plain";
    add_header Cache-Control "no-store";
    try_files $uri =404;
    auth_basic off;
    allow all;
}